header {
	position: fixed;
	background-color: #EFBC44;
	top: 0;
	left: 0;
  	right: 0;
}

nav.head {
	padding-left: 180px;
}

main {
	padding-top: 180px;
} 

main .row {
  margin-bottom: 20px;
}

.box {
	height: 200px;
	text-align: left;
	padding-bottom: 10px;
	border: 1px solid lightgrey;
}

.img {
	width: 100%;
	height: 80%;
}

div.row p {
	font-size: 10px;
	margin-left: 10px;
}